
html{
    max-width: 200rem ;
    margin: auto;
    background-color: white;

}
:focus-visible {
    outline:none;
}
.params{
    margin-left: 9rem;
    margin-bottom: 1rem;
    .navbar{
        
        top: 0;
        list-style:circle;
        display: flex;

        flex-direction: row;
        justify-content: center;
    }
    .source-btn{
        display: inline-block;
        border: 1px solid grey;
        border-radius: 1rem;
        position: relative;
        div{
            padding-left: 0.5rem;
            padding-right: 0.5rem;   
            // padding-bottom: 0.2rem; 
            font-family: AmericanTypeWriter;
        }
    }
    .navbar-items{
        padding: 0.2rem 1rem;
        border-top: thin solid black;
        border-bottom: thin solid black;
        font-family: 'Baloo Da 2';
    }
    .navbar-items:hover{
        background-color: rgba(41, 28, 53, 0.188);
        transition-duration: 0.3s;
    }
}
// div.editor{

//     display: block;
//     width: 200rem;

 
//     // &:hover::before{
//     //     color: grey;
//     //     // transform: translateX(-50%);
//     //     left: -1rem;
//     //     position: absolute;

//     // }
// }



// .content-block{

//     margin-left: -90rem;
//     // &:focus,
//     &:hover{
//         .selector{
//             visibility: visible;
//             opacity: 1;
//             transition-duration: 0.2s;
//             transition-timing-function: ease-in;
            
//         }
        
//     }
//     margin-left: 0rem;
//     // display: flex;
//     // .selector {
//     //     display: inline-block;
//     //     opacity: 0;    
//     // }
//     div{
//         margin-left: 1rem;
        
//     } 
// }

select{
    background-color: inherit;
    text-align: right;
    border-radius: 6px;
    box-sizing: border-box;
    border: none;
    color:rgba(29, 112, 1, 0.781);
    margin: auto;
}

.content-block{
    display: flex;
    div{
        margin-right: 2px;
    }
    .selector{
        opacity: 0;
    }
    &:hover{
        .selector{
            opacity: 1;
            transition-duration: 0.2s;
            transition-timing-function: ease-in;
        }
    }

}